# Count Data In A DataFrame

In [1]:
import pandas as pd
import numpy as np

my_df = pd.read_csv('dog_data.csv')
my_df

                    Breed              Color        DogName  OwnerZip
0                COCKAPOO              BROWN        CHARLEY     15236
1            GER SHEPHERD        BLACK/BROWN         TACODA     15238
2           BELG MALINOIS            BRINDLE           EICH     15238
3                   MIXED        BLACK/BROWN          ARROW     15104
4     AM PIT BULL TERRIER        WHITE/BROWN         OAKLEY     15139
...                   ...                ...            ...       ...
2665         GOLDENDOODLE              BROWN        WINSLOW     15044
2666    YORKSHIRE TERRIER        BLACK/BROWN  ROCKY KALAKOS     15220
2667              LAB MIX  WHITE/BLACK/BROWN          ELLIE     15220
2668         GOLDENDOODLE              WHITE       CLARENCE     15143
2669    SHETLAND SHEEPDOG              BLACK        GRIFFIN     15136

[2670 rows x 4 columns]

In [2]:
my_df['Color'].value_counts()

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [3]:
my_df['Color'].value_counts(ascending=True)

Color
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BROWN/LIVER               1
BLACK/BROWN/GREY          1
BROWN/FAWN                1
                       ...
BLACK/BROWN             183
WHITE/BLACK             196
WHITE                   226
BROWN                   309
BLACK                   371
Name: count, Length: 72, dtype: int64

In [4]:
my_df.head(20)

                  Breed        Color            DogName  OwnerZip
0              COCKAPOO        BROWN            CHARLEY     15236
1          GER SHEPHERD  BLACK/BROWN             TACODA     15238
2         BELG MALINOIS      BRINDLE               EICH     15238
3                 MIXED  BLACK/BROWN              ARROW     15104
4   AM PIT BULL TERRIER  WHITE/BROWN             OAKLEY     15139
5      SCOTTISH TERRIER        BLACK             BAILEY     15129
6     YORKSHIRE TERRIER    BLACK/TAN  MIMI PEARL FOSTER     15090
7         DACHSHUND MIX  WHITE/BROWN              LEROI     15101
8     SHETLAND SHEEPDOG  WHITE/BROWN         ZOE VITSAS     15238
9    LABRADOR RETRIEVER       YELLOW              TAFFY     15228
10         BICHON FRISE        WHITE               DUDE     15238
11       LHASA APSO MIX  WHITE/BROWN            CHICKIE     15238
12     AM PITT BULL MIX        BROWN               KING     15235
13     AM PITT BULL MIX        WHITE              EMILY     15108
14     BRITTANY SPANIEL  WHITE/BROWN              ELLIE     15228
15                MIXED        WHITE              RUSTY     15120
16          TERRIER MIX      SPOTTED                NaN     15239
17       COCKER SPANIEL       BLONDE             JUILET     15214
18       COCKER SPANIEL        BLACK              ROMEO     15214
19              MALTESE        WHITE               LOLA     15235

In [5]:
my_df['DogName'].value_counts()

DogName
LUCY        35
BELLA       30
BUDDY       29
BAILEY      29
DAISY       26
            ..
GROOT        1
POCO JAX     1
ERIS         1
BRAX         1
CLEMMIE      1
Name: count, Length: 1428, dtype: int64

In [6]:
my_df['DogName'].value_counts(dropna=False)

DogName
LUCY       35
BELLA      30
BAILEY     29
BUDDY      29
DAISY      26
           ..
LOKI        1
BULLA       1
MARGE       1
NINO        1
WINSLOW     1
Name: count, Length: 1429, dtype: int64

In [7]:
my_df['Color'].value_counts(normalize=True)

Color
BLACK                   0.139212
BROWN                   0.115947
WHITE                   0.084803
WHITE/BLACK             0.073546
BLACK/BROWN             0.068668
                          ...
BROWN/ORANGE            0.000375
BLACK/ORANGE/BRINDLE    0.000375
BROWN/FAWN              0.000375
BLACK/BROWN/GREY        0.000375
BROWN/LIVER             0.000375
Name: proportion, Length: 72, dtype: float64

In [8]:
print(my_df['Color'].value_counts()['WHITE'])

226

In [9]:
my_df.groupby('Color').size()

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [10]:
my_df.groupby('Color').count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]

In [11]:
my_df.value_counts()

Breed                Color              DogName       OwnerZip
MALTESE              WHITE              LOLA          15235       3
BEAGLE               WHITE/BLACK/BROWN  MAEBY AXFORD  15108       2
LAB MIX              BLACK              LUCY          15044       2
BOXER MIX            BRINDLE            SKYE          15057       2
LAB MIX              BLACK              BUDDY         15044       2
                                                                 ..
AM PIT BULL TERRIER  WHITE              SAGE          15237       1
                                        SNOOP         15212       1
                     WHITE/BLACK        LUCY          15239       1
                                        OTIS          15146       1
AIREDALE TERRIER     BLACK/BROWN        ZEKE          15108       1
Name: count, Length: 2648, dtype: int64