# Grab Rows, Points, and Subsets From DataFrame

In [1]:
import pandas as pd
import numpy as np
my_df = pd.read_csv('dog_data_short.csv')
my_df

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [2]:
my_df.loc[2]

Breed       BELG MALINOIS
Color             BRINDLE
DogName              EICH
OwnerZip            15238
Name: 2, dtype: object

In [5]:
my_df.iloc[3:,0:]

                 Breed        Color DogName  OwnerZip
3                MIXED  BLACK/BROWN   ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN  OAKLEY     15139

In [6]:
my_df.loc[1,'DogName']

'TACODA'

In [8]:
my_df.loc[[1,3],['Breed','DogName']]

          Breed DogName
1  GER SHEPHERD  TACODA
3         MIXED   ARROW

In [10]:
my_df.loc[[3,1],['DogName','Breed',"Color"]]

  DogName         Breed        Color
3   ARROW         MIXED  BLACK/BROWN
1  TACODA  GER SHEPHERD  BLACK/BROWN